# Server Configuration
PORT=3001

# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_db_password_here
DB_NAME=qualitycare_db
DB_PORT=3306

# JWT Configuration
JWT_AUTH_SECRET=your_jwt_auth_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_AUTH_EXPIRATION=604800

# Encryption Secrets
IV_ENCRYPTION_SECRET=your_iv_encryption_secret_here
REGISTRATION_ENCRYPTION_SECRET=your_registration_encryption_secret_here


# File Creation Secret
FILE_CREATION_SECRET_KEY=your_file_creation_secret_key_here

# SMS Configuration
SMS_PASSWORD=your_sms_password_here
SMS_USER=your_sms_user_here
SMS_SENDER_ID=ALJAWDAH
SMS_TEMPLATE_ID=920004864

# Redis Configuration
REDIS_HOST=localhost  
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=your_redis_password_here
REDIS_TLS=false

